{% extends "base.html" %}

{% load static %}

{% block title %}Beer404 : Login{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}
    <div class="row">
        <form action="/?" method="post">
            <div class="input-field col s10" style="display: block">
                <i class="material-icons prefix">account_circle</i>
                <input type="text" id="uname" name="uname" class="validate"><br>
                <label for="uname">Username</label>
                <span class="helper-text" data-error="wrong" data-success="right">Helper text</span><br>
            </div>
            <div class="input-field col s10" style="display: block">
                <i class="material-icons prefix">lock</i>
                <input type="password" id="pwd" name="pwd" class="validate"><br>
                <label for="pwd">Password</label>
                <span class="helper-text" data-error="wrong" data-success="right">Helper text</span><br>
            </div>
            <div class="col s12">
                <button class="btn waves-effect waves-light blue lighten-2" type="submit" name="action">Sign in
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    </script>
{% endblock %}
