<form action="/?" method="post">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="surname">Surname:</label><br>
  <input type="text" id="surname" name="surname"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="birth">Birthday:</label><br>
  <input type="date" id="birth" name="birth"><br>
  <label for="pwd">Password:</label><br>
  <input type="text" id="pwd" name="pwd"><br><br>
  <input type="submit" value="Register">
</form>
